/* Стили */

.Header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin: 2.34%  3.125% ;

	
}

.Subtitle, .Title {
	margin: 0;
}

.Header-Logo {
	
	display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-end;
    justify-content: space-between;

}
.Start_skreen, .Header{
	background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;
}


.Title{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	color: #F1CDB3;
}

.Subtitle{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
}


.menu {
	/*очистить первую точку*/
	list-style-type: none;
	padding-right: 0;
	/* устанавливает значение поля от правого края элемента. */
	margin: 0;
	height: 0;

	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.itom {
	padding: 10px;
}


