/* Стили */

.Header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin: 0px  3.125% ;
	padding: 2.344% 0px ;
}

.Subtitle, .Title {
	margin: 0;
}

.Header-Logo {
	
	display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-end;
    justify-content: space-between;

}
.Start_skreen, .Header{
	background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) , #211F20;


}


.Title{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	color: #F1CDB3;
}

.Subtitle{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
}


.menu {
	/*очистить первую точку*/
	list-style-type: none;
	padding-right: 0;
	/* устанавливает значение поля от правого края элемента. */
	margin: 0;
	height: 0;

	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.itom {
	padding: 10px;
}

.Content{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
	margin: 0px  3.125% ;
}
.Heading{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	color: #FFFFFF;
	margin: 0px ;
}

.Subheading{
	
	margin: 3.125% 3.125% 3.125% 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-align:justify;

}

.button_primary_text {
    font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	color: #292929;
	text-decoration: none;
	padding: 1.17% 3.52% ;
	border-radius: 100px;
	
	background: #F1CDB3;
}

.start-screen-puppy{
	
	width: 55%;
	
}

.start-screen-puppy_img{
	width: 100%;
	height: 100%;
}

/*------------------------------------*/
div.About{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
	width: 55%;
}

.About-content_content{
	
	display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    justify-content: space-evenly;
}


@media (max-width: 321px) {
	.Content {
		display: flex;
		flex-direction: column;
		align-content: stretch;
		margin: 0px 3.125%;
		flex-wrap: nowrap;
		align-items: center;
	}
	.start-screen-puppy{
		display: flex;
		width: 80%;
		
	}

}
	
